<h1>Agents</h1>

<p>Represents the list of active agents.</p>

<p *ngIf="!agents"><em>Loading...</em></p>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="form-group">
                        <a class="btn btn-primary" (click)="refreshData()">
                            <i class="fa fa-refresh"></i>&nbsp;Refresh
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--{this.renderAgentCardList()}-->
    <br />


    <div class="row">
        <div class="col-lg-3" *ngFor="let agent of agents | async">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Monthly</span>
                    <h5>Income</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">40 886,200</h1>
                    <div class="stat-percent font-bold text-success">
                        {{agent.name}} <i class="fa fa-bolt"></i>
                    </div>
                    <small>Total income</small>
                </div>
            </div>
        </div>
    </div>
</div>


<ul class="agents">
    <li *ngFor="let agent of agents | async">
        {{agent.name}}
    </li>
</ul>

